form{
    width:20%;
    margin:0px;
    padding:0px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 0px;
}
#in{
    width: 80%;
    height: 2rem;
    background: none;
    border: none;
    background: whitesmoke;
    border-radius: 0px;
    font-size: 1.4rem;
    font-weight: 700;
}

#btn{
    position:absolute;
    height: 77%;
    width: 16%;
    background: whitesmoke;
    border: none;
    border-radius: 0px;
    font-size: 1.5rem;
    color:rgb(75, 75, 75);
    transition:all 0.5 ease
}
#btnn2{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-15.5%,-65.7%);
    border: none;
    border-radius: 0px;
    height: 2rem;
    background: whitesmoke;
    color: #424242;
    font-size: 16px;
    font-weight: 700;
    padding: 0.2rem;
    transition:all 0.5 ease
}
#btn:focus{
    outline: none;
}
#btn:hover{
    background: rgb(75, 75, 75);
    color: whitesmoke;
}
#btn:active{
    
    border:3px solid whitesmoke
}
#btnn2:focus{
    outline: none;
}
#btnn2:hover{
    background: rgb(75, 75, 75);
    color: whitesmoke;
}
#btnn2:active{
    
    border:3px solid whitesmoke
}
