#innerDiv{
    width:40%;
    margin:0px;
    padding:0px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 0px;
    background-color:red;
    display: flex;
    flex-direction: row;
    height:5vh;
}
form{
    flex:3;
    width:80%;
    height:100%;
    background: blue;
}
#in{
    margin:0px;
    width: 80%;
    height:100%;
    background: none;
    border: none;
    background: whitesmoke;
    border-radius: 0px;
    font-size: 1.4rem;
    font-weight: 700;
}
#btn{
    width: 20%;
    height:100%;
    background: whitesmoke;
    border: none;
    border-radius: 0px;
    font-size: 1.5rem;
    color:rgb(75, 75, 75);
    transition:all 0.5 ease;
}
#btnn2{
    width: 20%;
    border: none;
    border-radius: 0px;
    background: whitesmoke;
    color: #424242;
    font-size: 16px;
    font-weight: 700;
    padding: 0.2rem;
    transition:all 0.5 ease;
    flex:1;
}
#btn:focus{
    outline: none;
}
#btn:hover{
    background: rgb(75, 75, 75);
    color: whitesmoke;
}
#btn:active{
    
    border:3px solid whitesmoke
}
#btnn2:focus{
    outline: none;
}
#btnn2:hover{
    background: rgb(75, 75, 75);
    color: whitesmoke;
}
#btnn2:active{
    
    border:3px solid whitesmoke
}
