span{
    width:85%;
    height:100%;
    padding: 0.4rem;
    overflow: auto;
}
#btnn{
    width: 15%;
    height: 100%;
    background: none;
    border: none;
    color: #a10000;
    transition: all 0.5s ease;
}
#btn2{
    width: 2.22rem;
    background: none;
    border: none;
    color: #006100;
    transition: all 0.5s ease;
}
#btnn:hover{
    color:#a5a5a5;
    background:#a10000;
}
#btnn:focus{
    outline:none;
}
#btnn:active{
    color:#a10000;
    border:2px solid #a10000;
    background:#a5a5a5;
}
#btn2:hover{
    color:#a5a5a5;
    background:#006100;
}
#btn2:focus{
    outline:none;
}
#btn2:active{
    color:#006100;
    border:2px solid #006100;
    background:#a5a5a5;
}

.donner{
    text-decoration:line-through;
    opacity:0.7;
    color:#006100;
}